.landingBodyBG {
  @apply w-screen relative h-full bg-[#1ab8dd] px-[128px] xsm:px-[16px] sm:px-[50px] md:px-[50px];
}

.landingBodyWrapper {
  @apply mx-auto pt-[104px] xsm:pt-[136px] sm:pt-[136px] w-[70%] md:w-[80%] lg:w-[80%] xl:w-[80%] 2xl:w-[50%] items-center text-center xsm:pt-[136px] sm:pt-[136px] xsm:items-start xsm:text-start xsm:w-full sm:items-start sm:text-start sm:w-full;
}

.landingBodyLabel {
  @apply w-[146px] h-[36px] mx-auto bg-[#FEF3C7] font-[500] rounded-[60px] text-[#5F6166] text-sm py-[8px] px-[16px] font-medium xsm:mx-[0px] sm:mx-[0px];
}

.landingBodyDescription1 {
  @apply my-[16px] text-5xl text-[#1C1D1F] font-[Gilroy-Bold] tracking-[-0.02em] leading-[60px] md:text-3xl lg:text-3xl xsm:text-3xl xsm:leading-10 sm:text-4xl sm:leading-[44px];
}

.landingBodyDescription2 {
  @apply text-[#ffffff] text-lg pb-[32px] font-[Gilroy-Medium];
}

.shoppingBagWrapper {
  @apply bg-white w-[116px] h-[116px] rounded-full absolute bottom-[25%] md:bottom-[27%] lg:bottom-[20%] xl:bottom-[27%] 2xl:bottom-[30%] md:left-[8.5%] lg:left-[20.5%] xl:left-[18%] 2xl:left-[10%] xsm:invisible sm:invisible;
}

.shoppingBike {
  @apply bg-[#FEF3C7] w-[116px] h-[116px] rounded-full absolute top-[125px] right-[10%] xsm:top-[63%] sm:top-[55%] md:top-[73px] lg:top-[90px] xl:top-[10px] 2xl:top-[100px] md:right-[4%] lg:right-[6%] xsm:right-[7%] sm:right-[9%] sm:top-[9%];
}

.topBrandWrapper {
  @apply bg-white h-[557px] xsm:h-[720px] sm:h-[740px] flex justify-between p-[64px] w-[100%] sm:w-[100%] xsm:px-[16px] sm:px-[16px] md:px-[30px] xsm:flex-col sm:flex-col;
}

.topBrandTextWrapper {
  @apply py-[88px] pl-[64px] w-[50%] xsm:w-full sm:w-full pr-[px] xsm:pl-[0px] xsm:py-[12px] sm:py-[12px] sm:pl-[0px] md:pl-[0px];
}

.topBrandTitle {
  @apply text-[#2F3133] text-4xl pb-[16px] pr-[50px] font-[Gilroy-Bold] tracking-[-0.02em] xsm:w-[100%] xsm:pr-[0px] sm:w-[100%] sm:pr-[0px];
}

.topBrandDescription {
  @apply text-[#868A91] text-lg font-[Gilroy-Medium] xsm:w-[100%] sm:w-[100%];
}

.shopNow {
  @apply flex items-center gap-1 cursor-pointer text-[#2922b3] pt-[32px] text-base font-[Gilroy-Medium] font-semibold;
}

.topBrandImageBG {
  @apply relative bg-[#F8F9FB] w-[80%] 2xl:w-[70%] m-auto h-[100%] 2xl:left-[-10px] rounded-xl xsm:absolute xsm:h-[350px] xsm:top-[1170px] xsm:left-[40px] sm:absolute sm:h-[350px] sm:top-[1160px] sm:left-[60px];
}

.topBrandImageWrapper {
  @apply absolute grid grid-cols-3 h-[100%] py-[30px] left-[-48px] xsm:left-[-30px] sm:left-[-38px]  gap-[5px] items-center justify-items-center w-[122%] xsm:w-[115%] sm:w-[115%];
}

.brandImage {
  @apply rounded-xl w-[100%] xsm:w-[60px] xsm:h-[50px] sm:w-[60px] sm:h-[50px] h-[89px] m-auto  object-contain;
}

.gadget {
  @apply bg-[#F8F9FB] w-screen px-[128px] py-[64px] xsm:px-[16px] sm:px-[50px];
}
